body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
	color: inherit;
}
.header{
	height:50px;
	border-bottom:1px solid #eaecef;
	padding:0;
	margin:0;
}
.nav{
	padding:0;
	margin:0;
}
.nav ul{
	padding:0;
	margin:0;
}
.nav li{
	padding:0;
	float:left;
	line-height:50px;
	margin:0 0 0 40px;
	list-style:none;
}