body{
	padding:0;
	margin:0;
	background:#f3f3f3;
}
#logo{
	margin:0 auto;
}
.mandiv{
	margin:0;
	padding:0;
	height:60px;
	background:#1493a6;
	display:block;
	margin:0;
}
 .mandiv ul , .mandiv li{
	margin:10px;
	list-style:none;
	padding-right:40px;
	float:left;
}